* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("img/podjelje_cover.png");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    background-color: rgba(255,255,255,0.6);
    font-weight: 550;
}

.navbar a:link, .navbar a:visited {
    color: black;
}

.navbar a:hover {
    transform: scale(1.1);
}

.yt {
    --height: 70vh;
    height: var(--height);
    width: calc(var(--height)/9*16);
}

.bg-img {
    background-image: url("img/podjelje_cover.png");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
}

.footer {
    padding-bottom: 0;
    background-color: transparent;
    padding-top: 1em;
    margin-bottom: 0;
}

.footer a:link, .footer a:visited {
    color: white;
}