body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("img/podjelje_cover.png");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subnavpage {
    font-weight: bolder;
    transform: scale(1.1);
}

.navbar {
    background-color: rgba(255,255,255,0.6);
    font-weight: 550;
}

.navbar a:link, .navbar a:visited {
    color: black;
}

.navbar a:hover {
    transform: scale(1.1);
}

.yt {
    --height: 70vh;
    height: var(--height);
    width: calc(var(--height)/9*16);
}

body > section {
    padding: 0 24px;
}

.tile {
    flex-direction: row;
    justify-content: center;
}

.apt {
    margin: 0 12px;
    font-family: 'Pacifico', cursive;
    font-size: larger;
}

.apt a {
    color:transparent;
    padding-top: 10%;
}

.apt a:hover {
    color: whitesmoke;
    text-shadow: 0 0 20px #050201;
}

.email a, .airbnb a {
    color: black;
}

.email a:hover, .airbnb a:hover {
    transform: scale(1.1);
}

.bg-img {
    background-image: url("img/podjelje_cover.png");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
}

.footer {
    padding-bottom: 0;
    background-color: transparent;
    padding-top: 1em;
    margin-bottom: 0;
}

.footer a:link, .footer a:visited {
    color: white;
}